/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* MEYER RESET */

a {
  text-decoration: inherit;
  color: inherit;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar content";
}

.header {
  background-color: pink;
  grid-area: header;
}

/* SIDEBAR */
.sidebar {
  background-color: lightblue;
  padding: 16px;
  grid-area: sidebar;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 48px;
}

.logo,
.sidebar li {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.logo {
  font-size: large;
}

.logo svg {
  width: 48px;
  height: auto;
}

ul {
  display: grid;
  gap: 16px;
}

ul svg {
  width: 16px;
  height: auto;
}
/* SIDEBAR */

/* CONTENT */
.content {
  background-color: lightgray;
  padding: 16px;
  grid-area: content;
  display: grid;
  gap: 16px;
  grid-template: 1fr 1fr / 3fr 1fr;
  grid-template-areas: 
    "project announce"
    "project trending";
}

.project-container {
  /* background-color: lightgreen; */
  grid-area: project;
}

.project-cards {
  background-color: lightcoral;
  display: grid;
  gap: 16px;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.card {
  background-color: lightblue;
  border-radius: 16px;
  padding: 16px;
}

.announce-container {
  /* background-color: lightgreen; */
  grid-area: announce;
}

.announcements {
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  display: grid;
  gap: 8px;
  grid-template: repeat(3, 1fr);
}

.announcements > div + div {
  border-top: 1px solid gray;
}

.trending-container {
  /* background-color: lightgreen; */
  grid-area: trending;
}

.trending {
  background-color: white;
  padding: 16px;
}

.trending ul {
  display: grid;
  justify-items: start;
  gap: 16px;
}

.trending li {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 8px;
}

.trending li div {
  display: grid;
  gap: 4px;
}

.trending img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}
/* CONTENT */